# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
dist-ssr/

# Dependency directories
node_modules/

# Local environment files
*.local

# Generated assets
.assets/

# Ignore specific folders
# src/assets/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: system-specific
Thumbs.db
